<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= data.name %></p>
<img alt="không load đc" src="https://drive.google.com/file/d/18RamNNuasccSu_zr3j-vgE96RK1JzRQA/view?usp=share_link" >
<br>
<% for (var i = 0; i < data.noidung.length; i++) { %>
    <img src=<%= data.noidung[i] %>>
    <br>
<% } %>
</body>
</html>
